.footer-container{
    font-family: 'Roboto Slab', cursive;
    color: rgb(93, 93, 93);;
    background-color: #F2EAE2;
    padding: 20px;
}

.footer-end{
    background-color: #5b1f00;
    color: white;
}