body{
    background-color: #fafafa;
    
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



form{
    width: 50%;
    background-color: #fff;
    margin: 10px;
}
main h4{
    font-family: 'Roboto Slab', cursive;
    color: #5b1f00;
    font-weight: 800;
    margin-left: 10px;
}

.btn{
    background-color: #5b1f00;
    border: none;
    padding: 4px 25px;
}

.btn:hover{
    background-color: #8a421f;
}

footer{
    border-top: 6px solid #5b1f00;
}

/*RESPONSIVE DESIGN*/
@media only screen and (max-width:650px){
    form{
        width: 80%;
    }

  }