.navbar{
    background-color: #5b1f00;
    font-family: 'Roboto Slab', cursive;
}

.nav-link{
    color: #fff !important;
}
.dropdown-item{
    color: #000 !important;
}

.nav-item-drop{
    position: absolute;
    right: 0;
}
