.page-title{
    font-family: 'Roboto Slab', cursive;
    background-color: #743414;
    color: #fff;
    padding: 5px;
}

.empresa-container{
    margin: 10px;
    font-family: sans-serif !important;
    color: rgb(105, 104, 104);
}
h4{
    font-family: 'Roboto Slab', cursive;
    color: #414141 ;
}

footer{
    border-top: 6px solid #743414;
}